<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.hangitouttest"
	version 	= "1.0.0">

	<name>Hang it Out Test</name>

	<description>
		Testing
	</description>

	<author href="http://github.com/fletchr0cks"
		email="nick.fletcher@gmail.com">
		Nick Fletcher
	</author>

	<icon src="logo.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
