<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.uksledge"
	version 	= "2.1.0">

	<name>UK Sledge</name>

	<description>
		Testing
	</description>

	<author href="http://github.com/fletchr0cks"
		email="3lawssafeapps@gmail.com">
		Mr Sledge
	</author>

	<icon src="logouks.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<preference name="phonegap-version" value="2.1.0" />
	<preference name="orientation" value="portrait" />
</widget>
